<h1><a href='<%= website.url %>'><%=website.url%></a></h1>
<form action="/websites/<%=website.id%>?_method=DELETE" method="POST">
  <input type='submit'value="DELETE">
</form>
<a href="/websites/<%=website.id%>/edit">edit your webpage</a>
<br>
<h2>Link Data: </h2>

<body>
  <p> Your websites' number of Authority-passing backlinks, including followed links and 301 (permanent) redirects:  <%= website.link[0].ueid %>
  </p>

  <div>
    <table>
      <thead>

      <tbody>
        <tr>
          <% website.link[0].success.forEach(function(status) { %>
            <tr><td><%= status %> &#x2713;</tr></td>
          <% }); %>
      </tr>
      <tr>
          <% website.link[0].fail.forEach(function(status) { %>
            <tr><td><%= status %>&#x2717;</tr></td>
          <% }); %>
      </tr>
    </tbody>
  </div>


<a href="/websites">home</a>

</body>


